body {
  overflow-x: hidden;
    background: #333333;
}
.box {
  width: 600px;
  margin: auto;
  padding: 50px;
  background: #222222;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

button:hover {
  transform: rotate(360deg);
}
img {
  width: 70px;
  height: 70px;
}
.tiles {
    margin: auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 3px;
 
}

.tile {
  height: 100px;
  background: #111111;
  border: 3px solid #444444;
  cursor: pointer;
  border-radius: 3px;

}

.green-tile {
  background: green;
  border: 1px solid #2d990c
}

.wrong-tiles {

  display: grid;
  grid-template-columns: repeat(5, 50px);
  padding-bottom: 20px;
}

.tiles2 {
  margin: auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 48px);



}


.wrong-tile {
  height: 48px;
  background: #111111;
  border: 1px solid #444444;
  border-radius: 3px;
}

.btn, .but {
  cursor: pointer;
}

.text {
  position: absolute;

  top: 50%;
  left: 50%;

}

.messages {
  width: 40%;
  float: left;
}

.reset {
  width: 10%;
  float: left;
}


/*todo
- max for wrong
- localstorage record updates every time round is higher
*/