body {
    background: #333333;
    margin:0;
}

.tiles {
    margin: auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
 
}

.tile {
    height: 100px;
    background: #111111;
    border: 1px solid #444444;
    cursor: pointer;
}

.btn {
  cursor: pointer;
}

/*todo
- max for wrong
- make grid size fixed
- add text to green screen at start saying "click to start"
- "game over! click to restart" when wrong max is reached
- add local storage
*/