body {
    background: #333333;
    margin:0;
}
button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

button:hover {
  transform: rotate(360deg);
}
img {
  width: 70px;
  height: 70px;
}
.tiles {
    margin: auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
 
}

.wrong-tiles {

  display: grid;
  grid-template-columns: repeat(5, 50px);
}

.tiles2 {
  margin: auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 48px);

}

.tile {
  height: 100px;
  background: #111111;
  border: 1px solid #444444;
  cursor: pointer;
}

.wrong-tile {
  height: 48px;
  background: #111111;
  border: 1px solid #444444;
}


.btn, .but {
  cursor: pointer;
}


.text {
  position: absolute;

  top: 50%;
  left: 50%;

}

.messages {
  width: 50%;
  float: left;

}

/*todo
- max for wrong
- grid for wrongs
*/